@page
@model spanish_verbs.Pages.Practice._10VerbsModel
@{
    ViewData["Title"] = "10Verbs";
    Layout = "~/PAges/Shared/_QuizLayout.cshtml";
    Random r = new Random();
    int num = r.Next(0, 2);

}

<section style="height: 100vh">

    @*Quiz Progress bar*@
    @if (Model.QuestionsAnswered >= 0 && Model.QuestionsAnswered < Model.QuestionWords.Count)
    {
        
    <div class="flex-container justify-content-between align-items-center quiz-head">
        <a class="quiz-exit" asp-area="" asp-page="/Practice/index">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </a>
        <div class="progress shadow-sm bar-size" style="width: 100%; background-color: lightblue;">
            <div class="progress-bar bg-info" role="progressbar" style="width: @((Model.QuestionsAnswered * 10)+0)%;" aria-valuenow="@Model.QuestionsAnswered" aria-valuemin="0" aria-valuemax="10">
                @((Model.QuestionsAnswered * 10) + 0)%
            </div>
        </div>
    </div>
    }
    <div>
        <div>
            <form method="post" >
                <div>
                    <div>
                        @if (Model.QuestionsAnswered < 10) {
                            @*Quiz*@
                            <div class="text-center w-auto">
                                @if (Model.QuestionWords != null)
                                {
                                    <h2 class="display-1 m-5 text-center">
                                        @if (num == 0)
                                        {
                                            @Model.QuestionWords[Model.QuestionsAnswered].ToEnglish
                                        }
                                        else
                                        {
                                            @Model.QuestionWords[Model.QuestionsAnswered].ToSpanish
                                        }
                                    </h2>
                                }
                                else
                                {
                                    <h5>Error loading Quiz</h5>
                                }
                            </div>
                        
                        @* ANSWER*@
                            if(!Model.QuestionChecked)
                            {
                                <input asp-for="Answer" autofocus class="form-control m-5 mx-auto" placeholder="Answer..." value="" />
                            }
                        }
                        @* Check Answer *@
                        <div class="show-answer">
                            @if (Model.QuestionsAnswered < 10)
                            {
                                if (Model.QuestionChecked)
                                {
                                    
                                    if (Model.IsCorrect)
                                    {
                                        <p class="alert alert-success container w-50">
                                        Correct!
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="alert alert-danger container w-50">
                                            Answer:
                                            @if (num == 1)
                                            {
                                                @Model.QuestionWords[Model.QuestionsAnswered].ToEnglish
                                            }
                                            else
                                            {
                                                @Model.QuestionWords[Model.QuestionsAnswered].ToSpanish
                                            }
                                        </p>
                                    
                                    }
                                }
                                
                            }
                        </div>

                    @*QUIZ INFORMATION*@
                    @if (Model.QuestionsAnswered >= 10)
                    {
                        <div class="text-center mt-3">
                            <h3 style="color: limegreen">
                                You've finished the quiz!
                            </h3>
                            <p class="text-muted">
                                @Model.QuestionsAnsweredCorrect correct out of @Model.QuestionWords.Count
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="text-center m-4">
                            <div class="col-12">
                                <p class="text-muted">
                                    @Model.QuestionsAnsweredCorrect correct out of @Model.QuestionWords.Count
                                </p>
                            </div>
                        </div>
                    }
                    
                    </div>
                </div>

                @*Submit Quiz Answer*@
                @if (Model.QuestionsAnswered >= 10)
                {
                       <code class="debug-section ">
                            <h3 class="p-1 text-center border-top">Cheat Sheet</h3>
                            <div class="flex-container align-items-center" style="flex-direction: column">
                                <div>
                                @for (int i = 0; i < Model.QuestionWords.Count; i++)
                                {
                                    var word = Model.QuestionWords[i];
                                    <div class="flex-container align-items-center">
                                        <h6 class="mx-2 my-0 p-0">@(i + 1).</h6>
                                        <h5 class="mx-2 my-0 p-0 card-title text-dark text-capitalize">@word.ToEnglish</h5>
                                        <h6 class="mx-2 my-0 p-0 card-subtitle mb-1 text-muted">@word.ToSpanish</h6>
                                    </div>
                                }
                            </div>
                            </div>
                        </code>
                    @*Quiz Finished*@
                    <div class="flex-container justify-content-center m-4" style="position: fixed; bottom: 0; left: 0; right: 0;">
                        <form method="post" asp-page-handler="Results" >
                            <input type="hidden" asp-for="Answer" class="form-control" value="Complete" />
                            <a class="btn btn-lg btn-primary m-1" asp-page-handler="NewQuiz"/>
                            <a class="btn btn-lg btn-primary m-1" asp-area="" asp-page="/Practice/index">
                                Practice
                            </a>
                        </form>
                    </div>
                }
                else
                {
                    if (!Model.QuestionChecked)
                    {
                        
                    <div class="btn-quiz-next flex-container justify-content-center">
                        <button type="submit" value="Submit" class="btn btn-primary btn-lg w-100 m-2" style="height: 50px; max-width: 500px">
                            <i class="fas fa-chevron-right">Check</i>
                        </button>
                        </div>
                    }
                    else
                    {
                        
                    <div class="btn-quiz-next flex-container justify-content-center">
                        <button type="submit" value="Submit" class="btn btn-primary btn-lg w-100 m-2" style="height: 50px; max-width: 500px">
                            <i class="fas fa-chevron-right">Continue</i>
                        </button>
                    </div>
                    }
                }
            </form>
        </div>
    </div>
</section>